.main, .form {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  margin: 14%;
}

.form {
  margin-top: 5%;
  width: 30%;
  height: 18em;
  background-color:rgba(40, 54, 24, 0.35);
  border-radius: 5px;
}

.form-text {
  font-size: 14px;
  color: rgb(40, 54, 24);
}

.app-title {
  font-size: 4em;
}

.form-title {
  margin-bottom: 3%;
}

.button {
  margin-top: 3%;
  background-color: rgb(96, 108, 56);
  color: rgb(254, 250, 224);
  width: 25%;
}

.button:hover {
  background-color: rgb(128, 145, 73);
  color: rgb(254, 250, 224);
}

.button:disabled {
  background-color: rgb(40, 54, 24);
}
